.navbar {
	margin-bottom: 0;
	letter-spacing: 4px;
	opacity: 0.9;
	margin-bottom: 50px;
	border-radius: 0;
	font-size: 125%;
}

.nav.navbar-nav.navbar-right li a, .nav.navbar-nav.navbar-left li a{
	color: white;
}

.nav.navbar-nav.navbar-right li a:hover, .nav.navbar-nav.navbar-left li a:hover { 
	color: white !important;
	background-color: #222222;
}


.nav.navbar-nav.navbar-right li a:active, .nav.navbar-nav.navbar-left li a:active{
	color: white !important;
	background-color: red;
}

.navbar li a, .navbar .navbar-brand { 
	color: white !important;
 }

.container-fluid{
	background-color: #606060;
}

.about-section {
    height: 100%;
	width: auto;
    padding-top: 100px;
	padding-bottom: 100px;
    text-align: left;
    background: #23538a;
	background: -moz-linear-gradient(45deg,  #23538a 3%, #a7cfdf 91%);
	background: -webkit-linear-gradient(45deg,  #23538a 3%,#a7cfdf 91%);
	background: linear-gradient(45deg,  #23538a 3%,#a7cfdf 91%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#a7cfdf',GradientType=1 );
}

.about-text{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	padding-top: 5px;
	text-align: left;
	color: black;
}

.section-heading{
	display:inline;
    color:#fff;
	background: #febbbb;
	background: -moz-linear-gradient(45deg, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
	background: -webkit-linear-gradient(45deg, #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
	background: linear-gradient(45deg, #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=1 );
	padding: 15px
}

.prantar-image{
	transform:rotate(90deg);
	max-width:100%;
	min-width:243.2px;
	max-height:100%;
	min-height:182.4px;
	border-radius: 50%;
	align: left;
}

footer {
	padding: 25px;
	background-color: #606060;
}