<div class="padded-body">
  <p style="font-weight: 900;font-size: -webkit-xxx-large;text-align: center; line-height: 1.0;">Welcome to CSCC69</p>
  <p><b>Tutorial 0002</b>: Thursday, 07:00 PM - 08:00 PM, at HW 408.</p>
  <p><b>Office hours</b>: Wednesday, 12:00 PM - 01:00 PM, at IC 400A.</p>
  <p><b>TA name</b>: Prantar Bhowmik</p>
  <p>I will update this website on a weekly basis. All code written in class will be made available here.</p>
  <hr>
  <p><b><u>Email Policy</u></b></p>
  <p>My email address is <u>prantar.bhowmik@mail.utoronto.ca</u>. I will be checking my email every night. But before you email me, consider posting the question on quercus discussion board as you will get a much faster response there.</p>
  <p>If you email me, use your utoronto email, any other email address will go directly to spam.</p>
  <p>Also, in the subject write "CSCC69" to increase my chances of responding.</p>
  <br>
  <br>
  
  <hr style="height: 1px;background-color:#333;">
  <p><b><u>Personal Notes</u></b></p>
  <ul>
      <li>Notes I made when I took the course PDF: <a href = "/assets/cscc69w19/cscc69_notes.pdf" target="_blank" rel="noopener">1</a></li>
    <li>Notes I made when I took the course docx: <a href = "/assets/cscc69w19/cscc69_notes.docx" target="_blank" rel="noopener">1</a></li>  
  </ul>
    
  <hr style="height: 1px;background-color:#333;">
  <p><b><u>Week 3: May 30, 2019</u></b></p>
  <ul>
    <li>Notes PDF: <a href = "/assets/cscc69s19/synchronization_primitives_w3.pdf" target="_blank" rel="noopener">1</a></li>
    <li>Notes Markdown: <a href = "/assets/cscc69s19/synchronization_primitives_w3.md" target="_blank" rel="noopener">1</a></li>
  </ul>

  <hr style="height: 1px;background-color:#333;">
  <p><b><u>Week 2: May 23, 2019</u></b></p>
  <ul>
    <li>Notes PDF: <a href = "/assets/cscc69s19/kernel_programming_w2.pdf" target="_blank" rel="noopener">1</a></li>
    <li>Notes Markdown: <a href = "/assets/cscc69s19/kernel_programming_w2.md" target="_blank" rel="noopener">1</a></li>
  </ul>

  <hr style="height: 1px;background-color:#333;">
  <p><b><u>Week 1: May 16, 2019</u></b></p>
  <ul>
    <li>Notes PDF: <a href = "/assets/cscc69s19/review_w1.pdf" target="_blank" rel="noopener">1</a></li>
    <li>Notes Markdown: <a href = "/assets/cscc69s19/review_w1.md" target="_blank" rel="noopener">1</a></li>
  </ul>  
</div>