{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@Api": "./pages/api",
                    "@Clients": "./clients",
                    "@Components": "./components",
                    "@Constants": "./constants.ts",
                    "@Contexts": "./contexts",
                    "@Hooks": "./hooks",
                    "@Interfaces": "./interfaces",
                    "@MockData": "./mockData",
                    "@Serializers": "./serializers",
                    "@Service": "./service",
                    "@Styles": "./styles",
                    "@Utils": "./utils"
                }
            }
        ]
    ]
}