{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "jsx-a11y",
        "react"
    ],
    "extends": [
        "react-app",
        "airbnb-typescript",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended",
        "plugin:jest/recommended"
    ],
    "rules": {
        "no-console": "error",
        "react/prop-types": "off",
        "react/jsx-indent": [
            2,
            4,
            {
                "checkAttributes": false
            }
        ],
        "react/jsx-indent-props": [
            2,
            4
        ],
        "react/jsx-wrap-multilines": "off",
        "import/prefer-default-export": "off",
        "import/no-cycle": "off",
        "no-multi-assign": "off",
        "react/jsx-one-expression-per-line": 0,
        "jsx-a11y/anchor-is-valid": [
            "warn",
            {
                "components": [
                    "Link"
                ],
                "specialLink": [
                    "to"
                ]
            }
        ],
        "react/require-default-props": [
            2,
            {
                "ignoreFunctionalComponents": true
            }
        ]
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [
                ".ts",
                ".tsx"
            ]
        },
        "import/resolver": {
            "typescript": {}
        }
    }
}