<div class="padded-body">
  <ul>
    <li>
        <a routerLink="cscc69w19" routerLinkActive="active">
          CSCC69 2019 Winter (Operating Systems)
        </a>
      </li>
    <li>
        CSCA08 2019 Fall (Introduction to Computer Science I)
    </li>
    <li>
      <a routerLink="cscb07f18" routerLinkActive="active">
        CSCB07 2018 Fall (Software Design)
      </a>
    </li>
    <li>
      <a routerLink="csca48w18" routerLinkActive="active">
        CSCA48 2018 Winter (Introduction to Computer Programming II)
      </a>
    </li>
    <li>
      <a routerLink="csca08f17" routerLinkActive="active">
        CSCA08 2017 Fall (Introduction to Computer Science I)
      </a>
    </li>
    <li>
      <a routerLink="csca48s17" routerLinkActive="active">
        CSCA48 2017 Summer (Introduction to Computer Programming II)
      </a>
    </li>
    <li>
      <a routerLink="csca48w17" routerLinkActive="active">
        CSCA48 2017 Winter (Introduction to Computer Programming II)
      </a>
    </li>
    <li>
      <a routerLink="csca08f16" routerLinkActive="active">
        CSCA08 2016 Fall (Introduction to Computer Science I)
      </a>
    </li>
  </ul>  
</div>