<p style="font-weight: 900;font-size: -webkit-xxx-large;text-align: center;">Welcome to CSCA48</p>
<p><b>Tutorial 0002</b>: Monday, 10:00 AM - 11:00 AM, at IC 208.</p>
<p><b>TA name</b>: Prantar Bhowmik</p>
<p>I will update this website on a weekly basis. All code written in class will be made available here.</p>
<p>There may or may not be quiz held in the tutorial so please be on time.</p>
<br>
<p>You can attend any practical held by any CSCA48 TA. I'll be at: </p>
<p><b>Practical 004</b>: Wednesday, 4:00 PM - 5:00 PM, at BV 471.</p>
<hr>
<p><b><u>Email Policy</u></b></p>
<p>My email address is <u>prantar.bhowmik@mail.utoronto.ca</u>. I will be checking my email every night. But before you email me, consider attending a practical or post the question on <a href = "https://piazza.com/mail.utoronto.ca/winter2017/csca48">Piazza</a> as you will get a much faster response there.</p>
<p>If you email me, use your utoronto email, any other email address will go directly to spam.</p>
<p>Also, in the subject write "CSCA48" to increase my chances of responding.</p>
<hr>
<p><b><u>Feedback</u></b></p>
<p>I always like to know how you feel about my teaching style. Feel free to leave anonymous feedback <a href = "https://prantar.me/feedback">here</a></p>
<br>
<br>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 11: March 20, 2017</u></b></p>
<ul>
  <li>Insertion Sort: <a href = "/assets/csca48w17/insertion_sort_w11.txt" target="_blank">1</a></li>
  <li>Worst case runtime for Insertion Sort: O(n)^2</li>
  <li>Best case runtime for Insertion Sort: O(n)</li>
  <br>
  <li>Optional- More detail on complexity: <a href = "https://www.utsc.utoronto.ca/~csec/slides/W6_Complexity.pdf" target="_blank">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 10: March 13, 2017</u></b></p>
<ul>
  <li>Tree Algo: <a href = "/assets/csca48w17/tree_algo_w10.txt" target="_blank">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 9: March 5, 2017</u></b></p>
<ul>
  <li>Binary Search: <a href = "/assets/csca48w17/binary_search_w9.txt" target="_blank">1</a></li>
  <li>Worst case runtime for Binary search: O(logn)</li>
  <li>Best case runtime for Binary search: O(1)</li>
  <br>
  <li>Worst case runtime for Binary search: O(n)</li>
  <li>Best case runtime for Binary search: O(1)</li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 8: February 27, 2017</u></b></p>
<ul>
  <li>Same String: <a href = "/assets/csca48w17/same_string_w8.txt" target="_blank">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 7: February 13, 2017</u></b></p>
<ul>
  <li>Fibonacci Sequence: <a href = "/assets/csca48w17/fib_w7.txt" target="_blank">1</a></li>
  <br>
  <li>Visualize Fib: <a href = "/assets/csca48w17/visualize_fib_w7.txt" target="_blank">1</a></li>
  <li><a href = "http://pythontutor.com/" target = "_blank">Python Tutor</a> is a good resource to use to visualize the memory model. Choose "render all objects", "use text labels for references", and Python 3.3 to look a version of the memory model we are accustomed with.</li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 6: February 6, 2017</u></b></p>
<ul>
  <li>Binary Search Trees: <a href = "/assets/csca48w17/bst_w6.txt" target="_blank">1</a></li>
  <li>A visualization of BST can be found <a href = "https://www.cs.usfca.edu/~galles/visualization/BST.html" target = "_blank">here</a>. The only problem with this is that if two nodes are equal it picks the left child instead of the right. But otherwise I think it does a pretty good job.</li>
  <br>
  <li>Heaps: <a href = "/assets/csca48w17/heap_w6.txt" target="_blank">1</a></li>
  <li>A visualization of min heap can be found <a href = "https://www.cs.usfca.edu/~galles/visualization/Heap.html" target = "_blank">here</a>.</li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 5: January 30, 2017</u></b></p>
<ul>
  <li>Binary Search Trees: <a href = "/assets/csca48w17/trees_w5.txt" target="_blank">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 4: January 23, 2017</u></b></p>
<ul>
  <li>Doubly Linked List: <a href = "/assets/csca48w17/dll_w4.txt" target="_blank">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 3: January 16, 2017</u></b></p>
<ul>
  <li>Deque ADT: <a href = "/assets/csca48w17/deque_w3.txt" target="_blank">1</a></li>
  <li>Deque Dict ADT: <a href = "/assets/csca48w17/deque_dict_w3.txt" target="_blank">1</a></li>
  <br>
  <li>Use of Deque: <a href = "/assets/csca48w17/is_palindrome_w3.txt" target="_blank">1</a></li>
  <li>How to make representation invariant: <a href = "/assets/csca48w17/representation_invariant_maker_w3.txt" target="_blank">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 2: January 9, 2017</u></b></p>
<ul>
  <li>Queue ADT: <a href = "/assets/csca48w17/queue_w2.txt" target="_blank">1</a></li>
  <li>Stack ADT: <a href = "/assets/csca48w17/stack_w2.txt" target="_blank">1</a></li>
  <li>Decimal to Binary: <a href = "/assets/csca48w17/binary_w2.txt" target="_blank">1</a></li>
</ul>
