.prantar-image{
	border-radius: 10%;
	float: right;
	height: 240px;

	/* blocks people copying my image */
	/* stops drag and drop*/
	pointer-events: none;

	/*stops selecting*/
	-moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
	user-select: none;

	margin: 12px;
}

.clearfix {
    overflow: auto;
}

.title {
	text-align: center;
}

@media only screen and (max-width: 460px) {
	.title{
		text-align: center;
		font-size: 35px;
		line-height: 1em;
	}
}

.padded-body{
	margin: 25px 40px 0px 40px;
}