.prantar-image{
	border-radius: 50%;
  float: right;

	/* blocks people copying my image */
	/* stops drag and drop*/
	pointer-events: none;

	/*stops selecting*/
	-moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.clearfix {
    overflow: auto;
}

.title {
	text-align: center;
}

@media only screen and (max-width: 368px) {
	.title{
		text-align: center;
		font-size: 35px;
		line-height: 1em;
	}
}
