<div class="clearfix">
  <div>
    <img class = 'prantar-image' alt="Prantar Image" src='../../assets/prantar.png' align="middle" draggable='false'>
  </div>
  <div>
    I am a third year student at the University of Toronto, working towards a
    Bachelors in Science.
    <br><br>
    I have been passionate about coding since high school. I have worked on various
    projects ranging from Web Development to working with blockchain technologies.
    I am currently the lead developer and co-founder of a project funded over $3000,
    which aggreates relevant articles for trending topics and congregates, analyzes,
    and summarizes articles, shows social media reaction and generates links for
    further reading.
    <br><br>
    I have worked as a full stack developer for the past year building a web app for
    University of Toronto to keep track of student information. I have worked as a
    teaching assistant for the past two years teaching introductory computer science
    course.
    <br><br>
    I also co-founded and acted as a lecturer for the Computer Science Enrichment
    Club, which is a student run club at the University of Toronto. The club aimed
    to extend knowledge in algorithmic complex problems, web development, and network
    security. The club hosted coding competitions and held monthly seminars on topics
    such as - machine learning, chess engine programming, cryptocurrency.
  </div>
</div>
