<p style="font-weight: 900;font-size: -webkit-xxx-large;text-align: center; line-height: 1.0;">Welcome to CSCA48</p>
<p><b>Tutorial 0011</b>: Thursday, 10:00 AM - 11:00 AM, at IC 120.</p>
<p><b>TA name</b>: Prantar Bhowmik</p>
<p>I will update this website on a weekly basis. All code written in class will be made available here.</p>
<p>There may or may not be quiz held in the tutorial so please be on time.</p>
<br>
<p>You can attend any practical held by any CSCA48 TA. I'll be at: </p>
<p><b>Practical 005</b>: Wednesday, 5:00 PM - 6:00 PM, at BV 471.</p>
<hr>
<p><b><u>Email Policy</u></b></p>
<p>My email address is <u>prantar.bhowmik@mail.utoronto.ca</u>. I will be checking my email every night. But before you email me, consider attending a practical or post the question on <a href = "https://piazza.com/mail.utoronto.ca/winter2018/csca48">Piazza</a> as you will get a much faster response there.</p>
<p>If you email me, use your utoronto email, any other email address will go directly to spam.</p>
<p>Also, in the subject write "CSCA48" to increase my chances of responding.</p>
<hr>
<p><b><u>Feedback</u></b></p>
<p>I always like to know how you feel about my teaching style. Feel free to leave anonymous feedback <a href = "https://prantar.me/feedback">here</a></p>
<br>
<br>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 12: April 5, 2018</u></b></p>
<span>Sorting Algorithms and Time Complexity</span>
<ul>
  <li>Bubble Sort</li>
  <li>Selection Sort</li>
  <li>Insertion Sort</li>
  <li>Quick Sort</li>
  <li>Merge Sort</li>
  <li>Heap Sort</li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 11: March 29, 2018</u></b></p>
<span>Recursion and Time Complexity</span>
<ul>
  <li>Same string: <a href="/assets/csca48w18/same_string_w11.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 10: March 22, 2018</u></b></p>
<span>Big O</span>
<ul>
  <li>Big O cheatsheet: <a href="http://bigocheatsheet.com/" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 9: March 15, 2018</u></b></p>
<span>More recursion</span>
<ul>
	<li>HTree: <a href = "/assets/csca48w18/htree_w9.txt" target="_blank" rel="noopener">1</a></li>
	<li>Graphics.py: <a href = "/assets/csca48w18/graphics_w9.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 8: March 8, 2018</u></b></p>
<span>Recursion</span>
<ul>
	<li>Vowel Count: <a href = "/assets/csca48w18/vowel_count_w8.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 7: March 1, 2018</u></b></p>
<ul>
	<li>Heap: <a href = "/assets/csca48w18/heap_w7.txt" target="_blank" rel="noopener">1</a></li>
	<li>More heap: <a href = "/assets/csca48w18/more_heap_w7.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 6: February 15, 2018</u></b></p>
<span>Binary Trees</span>
<ul>
	<li>Difference between TNode(points to child only) and BTNode(points to child and child points back to parent)</li>
	<li>Traversals: Pre-order(VLR), In-order(LVR), Post-order(LVR)</li>
	<li>How to delete node from BST</li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 5: February 8, 2018</u></b></p>
<ul>
	<li>DLL Node and List: <a href = "/assets/csca48w18/DLL_Node_List_w5.txt" target="_blank" rel="noopener">1</a></li>
	<li>DLL insert and remove methods: <a href = "/assets/csca48w18/index_dll_w5.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 4: February 1, 2018</u></b></p>
<ul>
	<li>Dequeue ADT: <a href = "/assets/csca48w18/dequeue_w4.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 3: January 25, 2018</u></b></p>
<ul>
	<li>How to make representation invariant: <a href = "/assets/csca48w18/representation_invariant_maker_w3.txt" target="_blank" rel="noopener">1</a></li>
	<br>
	<li>Stack ADT: <a href = "/assets/csca48w18/stack_w3.txt" target="_blank" rel="noopener">1</a></li>
	<li>Decimal to Binary: <a href = "/assets/csca48w18/decimal_to_binary_w3.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 2: January 18, 2018</u></b></p>
<ul>
	<li>Vector ADT: <a href = "/assets/csca48w18/vector_w2.txt" target="_blank" rel="noopener">1</a></li>
</ul>
