<div class="btn-group">
  <a href="../../assets/Prantar-Resume.pdf" target="_blank" role="button">
    View Resume
  </a>
  <a href="../../assets/Prantar-Resume.pdf" download="Prantar-Resume.pdf" role="button">
    Download Resume
  </a>
</div>

<div>
  <p class="heading">University of Toronto (2015 - Present)</p>
  <br>
  Bachelor of Science
  <br>
  <p class="heading">Recognition</p>
  <br>
  UofT The Hub Startup Challenge (Top 5)
  <br>
  Microsoft Coding Challenge (Top 3)
  <br>
  MHacks 8 (Top 10)
  <br>
  Finance Hacks (Top 3)
</div>

<p class="heading">Experience</p>

<vertical-timeline>

  <vertical-timeline-card
    [dateValue]=""
    [timeString]="' '"
    [color]="">
    <p>Position: Teaching Assistant</p>
    <p>Period: September 2016 - Present</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </vertical-timeline-card>

  <vertical-timeline-card
    [dateValue]="'2018,04,23'"
    [timeString]="' '"
    [color]="'#d9f442'">
    <p>Position: Full Stack Developer</p>
    <p>Period: May 2017 - April 2018</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </vertical-timeline-card>

</vertical-timeline>
