<a href="../../assets/Prantar-Resume.pdf" target="_blank" role="button">
  View Resume
</a>
<a href="../../assets/Prantar-Resume.pdf" download="Prantar-Resume.pdf" role="button">
  Download Resume
</a>

<vertical-timeline>

  <vertical-timeline-card
    [dateValue]=""
    [timeString]="' '"
    [color]="">
    <p>Position: Teaching Assistant</p>
    <p>Period: September 2016 - Present</p>
  </vertical-timeline-card>

  <vertical-timeline-card
    [dateValue]="'2018,04,23'"
    [timeString]="' '"
    [color]="'#d9f442'">
    <p>Position: Full Stack Developer</p>
    <p>Period: May 2017 - April 2018</p>
  </vertical-timeline-card>

</vertical-timeline>
