<div class="btn-group">
  <a href="../../assets/Prantar-Resume.pdf" target="_blank" rel="noopener" role="button">
    View Resume
  </a>
  <a href="../../assets/Prantar-Resume.pdf" download="Prantar-Resume.pdf" role="button">
    Download Resume
  </a>
</div>

<div>
  <p class="heading">University of Toronto (2015 - Present)</p>
  <br>
  B.Sc. In Statistics
  <br>
  <p class="heading">Recognition</p>
  <br>
  2018 Facebook University Coding Challenge: 2nd Place
  <br>
  2017 UofT The Hub Startup Challenge: 4th Place
  <br>
  2017 Microsoft University Coding Challenge: 3rd Place
  <br>
  2016 University of Michigan MHacks 8: 5th Place
  <br>
  2016 University of Toronto Finance Hacks: 3rd Place
</div>

<p class="heading">Experience</p>

<vertical-timeline>

  <vertical-timeline-card
    [dateValue]=""
    [timeString]="' '"
    [color]="'#419947'">
    <p>University of Toronto: Teaching Assistant</p>
    <p>September 2016 - Current</p>
    <ul>
      <li>
        Introduction to Computer Science: taught programming in Python, data structures, sorting, searching & complexity
      </li>
      <li>
        Introduction to Computer Programming: taught OOP in Python, trees, recursion, testing. Additionally, held office hours
      </li>
      <li>
        Software Design: taught Java, version control, build management, unit testing, refactoring, and design patterns
      </li>
    </ul>
  </vertical-timeline-card>

  <vertical-timeline-card
    [dateValue]="'2019,08,30'"
    [timeString]="' '"
    [color]="">
    <p>Royal Bank of Canada: Full Stack Developer</p>
    <p>May 2019 - August 2019</p>
    <ul>
    </ul>
  </vertical-timeline-card>

  <vertical-timeline-card
    [dateValue]="'2018,04,23'"
    [timeString]="' '"
    [color]="'#d9f442'">
    <p>University of Toronto: Full Stack Developer</p>
    <p>May 2017 - April 2018</p>
    <ul>
      <li>
        Utilized Django to connect backend database operations with frontend, & created scheduler for planning events
      </li>
      <li>
        Created a filterable, search-able, and editable table in Angular to display the user information in an organized dashboard      </li>
      <li>
        Improved automated testing, added continuous integration, and coverage testing to minimize bugs in software
      </li>
      <li>
        Aided in the creation and maintenance of the SQLite database which stored all user information
      </li>
    </ul>
  </vertical-timeline-card>

</vertical-timeline>
