<div class="calendar">
  Loading...
</div>

<div class="languages">
  <iframe width="600" height="600" src="https://ionicabizau.github.io/github-profile-languages/api.html?bhowmikp" frameborder="0"></iframe>
</div>

<div>
  <p class="heading">Let Me Know</p>
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nihil quas neque sapiente itaque quisquam eum laborum explicabo, amet fugiat maiores, rem odio eaque! Aliquam corrupti doloremque quas omnis architecto.
</div>

<div>
  <p class="heading">Pi Temperature</p>
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed omnis enim molestiae recusandae quibusdam unde, asperiores autem doloremque. Nostrum, aliquam.
</div>

<div>
  <p class="heading">Prantar.me chrome extension</p>
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nisi est deleniti ipsum, quia at perspiciatis, sit tempore! Totam eaque fuga iste illo vero placeat, neque natus nostrum quae eos.
</div>

<div>
  <p class="heading">Password Generator</p>
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<div>
  <p class="heading">Lingo Game</p>
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<div>
  <p class="heading">CSEC Chatbot</p>
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<div>
  <p class="heading">Honey Badger</p>
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
