<div class="padded-body">
  <div class="calendar">
    Loading...
  </div>

  <div class="languages">
    <iframe width="600" height="600"
      src="https://ionicabizau.github.io/github-profile-languages/api.html?bhowmikp"
      frameborder="0"></iframe>
  </div>

  <div *ngFor="let item of projectItems | async">
    <p class="heading">{{item.name}}</p>
    
    <br>

    <span *ngFor="let map of item.links">
      <span *ngFor="let item of map | keyvalue">
          <a class="round-link" href="{{item.value}}" target="_blank" rel="noopener">{{item.key}}</a>
      </span>
      &nbsp;
    </span>

    <br>

    <ul>
      <li *ngFor="let feature of item.features">{{feature}}</li>
    </ul>
    <hr>
  </div>
</div>