.contact > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

@media only screen and (max-width: 360px) {
  .contact > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 0.25em;
  }
}
