<div class="padded-body">
  <div>
    <p>You can contact me by:</p>
  </div>
  <div class="contact">
    <div>
      <p>Email:</p>
      <p>prantar.bhowmik@mail.utoronto.ca</p>
      <a href="mailto:prantar.bhowmik@mail.utoronto.ca"
        alt="mail icon"
        title="prantar.bhowmik@mail.utoronto.ca">
        <i class="fas fa-envelope-square fa-3x"></i>
      </a>
    </div>
    <div>
      <p>Github:</p>
      <p>bhowmikp</p>
      <a href="https://github.com/bhowmikp"
        alt="github icon"
        target="_blank"
        rel="noopener"
        title="bhowmikp">
        <i class="fab fa-github-square fa-3x"></i>
      </a>
    </div>
    <div>
      <p>Linkedin:</p>
      <p>prantar</p>
      <a href="https://www.linkedin.com/in/prantar"
        alt="linkedin icon"
        title="prantar"
        target="_blank"
        rel="noopener">
        <i class="fab fa-linkedin fa-3x"></i>
      </a>
    </div>
  </div>  
</div>