.contact {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2em;
}

.contact-info {
  display: grid;
  grid-template-columns: 100px 300px 80px;
  grid-auto-columns: auto;
  grid-column-gap: 1em;
}

@media only screen and (max-width: 566px) {
  .contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 300px));
  }
}

.padded-body{
	margin: 25px 40px 0px 40px;
}