<p style="font-weight: 900;font-size: -webkit-xxx-large;text-align: center; line-height: 1.0;">Welcome to CSCB07</p>
<p><b>Tutorial 3003</b>: Wednesday, 01:00 PM - 02:00 PM, at BV 473.</p>
<p><b>Tutorial 3004</b>: Wednesday, 02:00 AM - 03:00 AM, at BV 473.</p>
<p><b>Tutorial 3007</b>: Friday, 12:00 PM - 01:00 PM, at BV 473.</p>
<p><b>TA name</b>: Prantar Bhowmik</p>
<p>I will update this website on a weekly basis. All code written in class will be made available here.</p>
<hr>
<p><b><u>Email Policy</u></b></p>
<p>My email address is <u>prantar.bhowmik@mail.utoronto.ca</u>. I will be checking my email every night. But before you email me, consider posting the question on <a href = "https://piazza.com/class/jm6lrtgpx2510">Piazza</a> as you will get a much faster response there.</p>
<p>If you email me, use your utoronto email, any other email address will go directly to spam.</p>
<p>Also, in the subject write "CSCB07" to increase my chances of responding.</p>
<hr>
<p><b><u>Feedback</u></b></p>
<p>I always like to know how you feel about my teaching style. Feel free to leave anonymous feedback <a href = "https://prantar.me/feedback">here</a></p>
<br>
<br>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 8: October 29, 2018</u></b></p>
<ul>
	<li>Notes: <a href = "/assets/cscb07f18/notes_w8.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 7: October 22, 2018</u></b></p>
<ul>
	<li>Notes: <a href = "/assets/cscb07f18/notes_w7.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 6: October 15, 2018</u></b></p>
<ul>
	<li>Notes: <a href = "/assets/cscb07f18/notes_w6.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 5: October 1, 2018</u></b></p>
<ul>
	<li>Notes: <a href = "/assets/cscb07f18/notes_w5.txt" target="_blank" rel="noopener">1</a></li>
	<br>
	<li>UML: <a href = "/assets/cscb07f18/laptop_uml_w5.png" target="_blank" rel="noopener">1</a></li>
	<li>CRC Cards: <a href = "/assets/cscb07f18/laptop_crc_cards_w5.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 5: October 1, 2018</u></b></p>
<ul>
	<li>Notes: <a href = "/assets/cscb07f18/notes_w5.txt" target="_blank" rel="noopener">1</a></li>
	<br>
	<li>UML: <a href = "/assets/cscb07f18/laptop_uml_w5.png" target="_blank" rel="noopener">1</a></li>
	<li>CRC Cards: <a href = "/assets/cscb07f18/laptop_crc_cards_w5.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 4: September 24, 2018</u></b></p>
<ul>
	<li>Notes: <a href = "/assets/cscb07f18/notes_w4.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 3: September 17, 2018</u></b></p>
<ul>
	<li>Notes: <a href = "/assets/cscb07f18/notes_w3.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 2: September 10, 2018</u></b></p>
<ul>
	<li>Unix Commands: <a href = "/assets/cscb07f18/unix_commands_w2.txt" target="_blank" rel="noopener">1</a></li>
  <li>Subversion Commands: <a href = "/assets/cscb07f18/subversion_commands_w2.txt" target="_blank" rel="noopener">1</a></li>
	<li>Notes: <a href = "/assets/cscb07f18/notes_w2.txt" target="_blank" rel="noopener">1</a></li>
</ul>
