<p style="font-weight: 900;font-size: -webkit-xxx-large;text-align: center; line-height: 1.0;">Welcome to CSCA48</p>
<p><b>Tutorial 0006</b>: Monday, 2:00 PM - 3:00 PM, at MW 120.</p>
<p><b>TA name</b>: Prantar Bhowmik</p>
<p>I will update this website on a weekly basis. All code written in class will be made available here.</p>
<p>There may or may not be quiz held in the tutorial so please be on time.</p>
<br>
<p>You can attend any practical held by any CSCA48 TA. I'll be at: </p>
<p><b>Practical 002</b>: Monday, 6:00 PM - 7:00 PM, at BV 471.</p>
<hr>
<p><b><u>Email Policy</u></b></p>
<p>My email address is <u>prantar.bhowmik@mail.utoronto.ca</u>. I will be checking my email every night. But before you email me, consider attending a practical or post the question on <a href = "https://piazza.com/mail.utoronto.ca/summer2017/csca48">Piazza</a> as you will get a much faster response there.</p>
<p>If you email me, use your utoronto email, any other email address will go directly to spam.</p>
<p>Also, in the subject write "CSCA48" to increase my chances of responding.</p>
<hr>
<p><b><u>Feedback</u></b></p>
<p>I always like to know how you feel about my teaching style. Feel free to leave anonymous feedback <a href = "https://prantar.me/feedback">here</a></p>
<br>
<br>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 12: July 31, 2017</u></b></p>
<ul>
    <li>Insertion Sort: <a href="/assets/csca48s17/insertion_sort_w12.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 11: July 24, 2017</u></b></p>
<ul>
    <li>Recursion. Binary Search: <a href="/assets/csca48s17/binary_search_w11.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 10: July 17, 2017</u></b></p>
<ul>
    <li>Recursion. Same string example: <a href="/assets/csca48s17/same_string_w10.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 9: July 10, 2017</u></b></p>
<ul>
  <li>Recursion. Fibonacci example: <a href="/assets/csca48s17/fib_w9.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 8: June 26, 2017</u></b></p>
<ul>
  <li>Heap. Traced through the remove_max function: <a href="/assets/csca48s17/heap_w8.txt" target="_blank" rel="noopener">1</a></li>
  <li>A visualization of min heap can be found: <a href="https://www.cs.usfca.edu/~galles/visualization/Heap.html" target="_blank" rel="noopener">here</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 7: June 19, 2017</u></b></p>
<ul>
  <li>Deletion in Binary Search Tree: <a href="/assets/csca48s17/deletion_bst_w7.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 6: June 12, 2017</u></b></p>
<p>Traced through 'get_last' and 'retrieve' methods from the List class</p>
<ul>
  <li>Linked List: <a href="https://www.utsc.utoronto.ca/~bharrington/csca48/code/week5_linked_list.py" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 5: June 5, 2017</u></b></p>
<ul>
  <li>Doubly Linked List: <a href="/assets/csca48s17/dll_w5.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 4: May 29, 2017</u></b></p>
<ul>
  <li>Deque ADT: <a href="/assets/csca48s17/deque_w4.txt" target="_blank" rel="noopener">1</a></li>
  <li>Deque Dict ADT: <a href="/assets/csca48s17/deque_dict_w4.txt" target="_blank" rel="noopener">1</a></li>
  <br>
  <li>Use of Deque: <a href="/assets/csca48s17/is_palindrome_w4.txt" target="_blank" rel="noopener">1</a></li>
  <li>How to make representation invariant: <a href="/assets/csca48s17/representation_invariant_maker_w4.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 3: May 15, 2017</u></b></p>
<ul>
  <li>Queue ADT: <a href="/assets/csca48s17/queue_w3.txt" target="_blank" rel="noopener">1</a></li>
  <li>Stack ADT: <a href="/assets/csca48s17/stack_w3.txt" target="_blank" rel="noopener">1</a></li>
  <li>Decimal to Binary: <a href="/assets/csca48s17/binary_w3.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 2: May 8, 2017</u></b></p>
<ul>
	<li>Memory Model: <a href = "/assets/csca48s17/memory_model_w2.txt" target="_blank" rel="noopener">1</a></li>
  <li><a href="http://pythontutor.com/" target="_blank" rel="noopener">Python Tutor</a> is a good resource to use to visualize the memory model. Choose "render all objects", "use text labels for references", and Python 3.3 to look a version of the memory model we are accustomed with.</li>
</ul>
