<nav id="nav-bar">
  <div class="brand">
    <a routerLink="" routerLinkActive="active" (click)="setTitle('Prantar Bhowmik - HomePage')" accesskey="z">Home</a>
  </div>
  <div class="options">
    <a routerLink="experience" routerLinkActive="active" (click)="setTitle('Prantar Bhowmik - Experience')" accesskey="x">Experience</a>
    <a routerLink="ta" routerLinkActive="active" (click)="setTitle('Prantar Bhowmik - Teaching Assistant')" accesskey="c">TA</a>
    <a routerLink="projects" routerLinkActive="active" (click)="setTitle('Prantar Bhowmik - Projects')" accesskey="v">Projects</a>
    <a routerLink="contact" routerLinkActive="active" (click)="setTitle('Prantar Bhowmik - Contact')" accesskey="b">Contact</a>
  </div>
</nav>

<div class="routing">
  <router-outlet></router-outlet>
</div>
