@import url('https://fonts.googleapis.com/css?family=Quicksand');

nav{
  display: grid;
  grid-template-columns: 2fr 8fr;
  /* position: sticky; */
  top: 0;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;

  background-color: #2b2d30;
  border: 1px solid black;

  font-family: "Quicksand", serif;
  font-weight: 500;

  padding: 10px 0px;

  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
}

nav > .options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-row-gap: 0.25em;
}

.brand {
  text-align: center;
}

.brand > a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.options > a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.tooltip > a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

@media only screen and (max-width: 430px) {
  .brand > a{
    font-size: 14px;
  }

  .options > a{
    font-size: 14px;
  }

  .tooltip > a {
    font-size: 14px;
  }
}

.routing{
  height: 100%;
  margin-top: 1em;
}

.title{
  display: grid;
  color: black;
  font-family: 'Trocchi', serif;
  font-size: 50px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  text-align: center;
}