<nav id="nav-bar">
  <div class="brand">
    <a routerLink="" routerLinkActive="active" (click)="setTitle('Prantar Bhowmik - HomePage')">Home</a>
  </div>
  <div class="options">
    <a routerLink="experience" routerLinkActive="active" (click)="setTitle('Prantar Bhowmik - Experience')">Experience</a>
    <a routerLink="ta" routerLinkActive="active" (click)="setTitle('Prantar Bhowmik - Teaching Assistant')">TA</a>
    <a routerLink="projects" routerLinkActive="active" (click)="setTitle('Prantar Bhowmik - Projects')">Projects</a>
    <a routerLink="contact" routerLinkActive="active" (click)="setTitle('Prantar Bhowmik - Contact')">Contact</a>
  </div>
</nav>

<div class="routing">
  <router-outlet></router-outlet>
</div>
