nav{
  border: 1px solid black;
  display: grid;
  grid-template-columns: 2fr 8fr;
  position: sticky;
  top: 0;
  margin-left: -8px;
  margin-right: -8px;
}

nav > .options {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.calendar{
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.parallax {
  /* The image used */
  background-image: url('../assets/background.jpeg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  align-items: center;
  justify-items: center;

  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
}
