<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSourceExperience" multiTemplateDataRows matSort>
  
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumnsExperience">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{column | uppercase}} </mat-header-cell>
      <mat-cell *matCellDef="let element" matTooltip="Expand/Collapse Row" 
        matTooltipPosition="below" matTooltipShowDelay="500">
        {{element[column]}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsExperience.length">
        <div class="expanded-content"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <span>
            <li *ngFor="let responsibility of element.responsibility" class="responsibility-list">
              {{responsibility}}
            </li>
          </span>
        </div>
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsExperience"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumnsExperience;"
      class="unexpanded-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"></mat-row>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detailed-row"></tr>  
  </mat-table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>