<p style="font-weight: 900;font-size: -webkit-xxx-large;text-align: center;">Welcome to CSCA08</p>
<p><b>Tutorial 07</b>: Tuesday, 9:00 AM - 10:00 AM, at BV264.</p>
<p><b>TA name</b>: Prantar Bhowmik</p>
<p>I will update this website on a weekly basis. All code written in class will be made available here.</p>
<p>There may or may not be quiz held in the tutorial so please be on time.</p>
<br>
<p>You can attend any practical held by any CSCA08 TA. I'll be at: </p>
<p><b>Practical 004</b>: Tuesday, 12:00 Noon - 1:00 PM, at BV466.</p>
<hr>
<p><b><u>Email Policy</u></b></p>
<p>My email address is <u>prantar.bhowmik@mail.utoronto.ca</u>. I will be checking my email every night. But before you email me, consider attending a practical or post the question on <a href = "https://piazza.com/mail.utoronto.ca/fall2017/csca08">Piazza</a> as you will get a much faster response there.</p>
<p>If you email me, use your utoronto email, any other email address will go directly to spam.</p>
<p>Also, in the subject write "CSCA08" to increase my chances of responding.</p>
<hr>
<p><b><u>Feedback</u></b></p>
<p>I always like to know how you feel about my teaching style. Feel free to leave anonymous feedback <a href = "https://prantar.me/feedback">here</a></p>
<br>
<br>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 12: November 28, 2017</u></b></p>
<ul>
  <li>Unit Testing</li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 11: November 21, 2017</u></b></p>
<ul>
  <li>UML</li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 10: November 14, 2017</u></b></p>
<ul>
  <li>UML</li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 9: November 7, 2017</u></b></p>
<ul>
  <li>Object Oriented Programming: <a href="/assets/csca08f17/calendar_w9.txt" target="_blank" rel="noopener">1</a> </li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 8: October 31, 2017</u></b></p>
<ul>
  <li>Invert Dictionary: <a href="/assets/csca08f17/invert_dict_w8.txt" target="_blank" rel="noopener">1</a> </li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 7: October 24, 2017</u></b></p>
<ul>
  <li>Memory Model: <a href="/assets/csca08f17/mutability_tracing_w7.txt" target="_blank" rel="noopener">1</a> </li>
  <li><a href="http://pythontutor.com" target="_blank" rel="noopener">Python Tutor</a>: change settings to Python 3.6, render all objects on the heap, use text labels for pointers</li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 6: October 17, 2017</u></b></p>
<ul>
  <li>Import: <a href="/assets/csca08f17/import_a_w6.txt" target="_blank" rel="noopener">1</a> <a href="/assets/csca08f17/import_b_w6.txt" target="_blank" rel="noopener">2</a></li>
  <li>Debugger</li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 5: October 3, 2017</u></b></p>
<ul>
  <li>Good/Bad code: <a href="/assets/csca08f17/selection_w5.txt" target="_blank" rel="noopener">1</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 4: September 26, 2017</u></b></p>
<ul>
  <li>Design Recipe and Doctest: <a href="/assets/csca08f17/design_recipe_w4.txt" target="_blank" rel="noopener">1</a></li>
  <li><a href = "http://pep8online.com/" target = "_blank">PEP8</a></li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 3: September 19, 2017</u></b></p>
<ul>
  <li>Memory Model: <a href="/assets/csca08f17/memory_model_w3_1.txt" target="_blank" rel="noopener">1</a>, <a href="/assets/csca08f17/memory_model_w3_2.txt" target="_blank" rel="noopener">2</a>, <a href="/assets/csca08f17/memory_model_w3_3.txt" target="_blank" rel="noopener">3</a></li>
  <li><a href = "http://pythontutor.com/" target = "_blank">Python Tutor</a> is a good resource to use to visualize the memory model. Choose "render all objects", "use text labels for references", and Python 3.3 to look a version of the memory model we are accustomed with.</li>
</ul>

<hr style="height: 1px;background-color:#333;">
<p><b><u>Week 2: September 12, 2017</u></b></p>
<ul>
  <li>Difference between Python vs Wing</li>
  <li>Python version</li>
  <li>Difference between shell and writing file</li>
</ul>
<p>Code I worte to determine if the version of python is acceptable: <a href="/assets/csca08f17/python_version_w2.txt" target="_blank" rel="noopener">python-version</a></p>
